* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  background-color: #d24379;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  margin: 10px;
}

.searchbar {
  display: flex;
  gap: 10px;
}

.search {
  height: 6vh;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: 9vh;
  background-image: url('../../../public/coins.jpg');
  background-size: cover;
}

.header p {
  font-size: 30px;
  font-weight: 900;
  color: rgb(241, 241, 225);
}

.companyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 0 0;
  width: 100vw;
}

.companyListItem {
  min-height: 150px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-image: radial-gradient(circle, #cd6b91, #d24379, transparent);
}

.namePrice {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.namePrice:hover {
  padding: 1rem;
}

.bottom {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.campany {
  align-self: flex-end;
  padding-top: 2rem;
}

.arrow {
  align-self: end;
}

.companyListItem:nth-child(4n+2),
.companyListItem:nth-child(4n+3) {
  background-color: #eb4b89;
}

.price {
  align-self: flex-end;
}
