body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 79, 157);
  opacity: 0.9;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(238, 31, 138);
  display: flex;
  align-items: center;
  padding: 5px;
}

.searchbar {
  display: flex;
  gap: 5px;
  margin-right: 20px;
}

.searchbtn {
  height: 40px;
  width: 50px;
  border-radius: 0 20px 20px 0;
}

.companyList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.companyListItem {
  display: flex;
  align-items: center;
  height: 120px;
  gap: 10px;
  border-color: transparent;
}

.companyListItem:nth-child(4n+2),
.companyListItem:nth-child(4n+3) {
  background-color: rgb(238, 31, 138);
}

.companyListItem:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(115, 36, 77);
}

a {
  all: unset;
  font-weight: bold;
  color: seashell;
}

.namePrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.arrow {
  width: 30px;
  color: #fff;
}

.price {
  align-self: flex-end;
}

@media screen and (min-width: 600px) {
  .companyList {
    list-style: none;
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    max-width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
}
